/* You can add global styles to this file, and also import other style files */

// COMMON SIZES
$responsiveBreakpoint: 1024px;

// COMMON FONTS


// COMMON COLORS


// COMMONS STYLES
html {
    height: 100%;
}

body {
    height: 100%;
    background: rgba(6, 168, 206, 0.15);
}

// MIXINS
