<div>   
    <div>   
        imagen.jpg
    </div>
    <div>   
        <div>
            titulo imagen
            <div>titulo</div>
            <div>imagen</div>
        </div>
        <div>
            campos
            <div>
                usuario
                <div>
                    etiqueta
                </div>
                <div>
                    input
                </div>
            </div>
            <div>
                pass
                <div>
                    etiqueta
                </div>
                <div>
                    input
                </div>
            </div>
            <div>
                boton
            </div>
        </div>
        <div>
            redes sociales
            <div>
                facebook
            </div>
            <div>
                gmail
            </div>
        </div>
        <div>
            mensaje registro
        </div>
    </div>
</div>