<div class="loginScreen">
    <div class="ls-banner">
        imagen.jpg
    </div>
    <div class="ls-container">
        <div class="ls-c-header">
            <div class="ls-c-h-title">Inicia tu sesión</div>
            <div class="ls-c-h-image">imagen</div>
        </div>
        <div class="ls-c-formulario">
            
            <div class="ls-c-f-usuario">
                
                <div class="ls-c-f-u-label">
                    Ingrese su usuario
                </div>
                <div class="ls-c-f-u-input">
                    <input>
                </div>
            </div>
            <div class="ls-c-f-pass">
                
                <div class="ls-c-f-p-label">
                    Contraseña
                </div>
                <div class="ls-c-f-p-input">
                    <input>
                </div>
            </div>
            <div class="ls-c-f-botonLogin">
                <button>
                    Ingresar
                </button>
            </div>
        </div>
        <div class="ls-c-loginRedes">
            
            <div class="ls-c-lr-facebook">
                F
            </div>
            <div class="ls-c-lr-gmail">
                G
            </div>
        </div>
        <div class="ls-c-registrarse">
            ¿No tiene una cuenta?
            <br>
            Registrese <a>aquí</a>

        </div>
    </div>
</div>