<div class="login-screen">
    <div class="ls-banner">
        imagen.jpg
    </div>
    <div class="ls-container">
        <div class="ls-c-header">
            <div class="ls-c-h-title">titulo</div>
            <div class="ls-c-h-image">imagen</div>
        </div>
        <div>
            campos
            <div>
                usuario
                <div>
                    etiqueta
                </div>
                <div>
                    input
                </div>
            </div>
            <div>
                pass
                <div>
                    etiqueta
                </div>
                <div>
                    input
                </div>
            </div>
            <div>
                boton
            </div>
        </div>
        <div>
            redes sociales
            <div>
                facebook
            </div>
            <div>
                gmail
            </div>
        </div>
        <div>
            mensaje registro
        </div>
    </div>
</div>