@mixin card-styles {
    border-radius: 10px;
    box-shadow: 1px 2px 1px 1px;
    background: rgba(6, 168, 206, 0.35);
    border: 1px solid black;
    margin: 20px;
}

.loginScreen {
    display: flex;
    padding: 40px 20px 0px 20px;
    gap: 2%;

    .ls-banner {
        @include card-styles;
        width: 70%;
        display: flex;
        align-items: center;
        justify-content: center;

        > img {
            width: 100%;
            border-radius: 10px;
        }
    }

    .ls-container {
        @include card-styles;
        padding: 10px;
        width: 30%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .ls-c-header {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-top: 20px;

            .ls-c-h-title {
                color: #000;
                text-align: center;
                font-family: "Gill Sans", sans-serif;
                ;
                font-size: 24px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
            }

            .ls-c-h-image {
                margin: 20px;
                height: 70px;
                width: 100px;
                border: 1px solid black;

            }
        }

        .ls-c-formulario {
            margin: 20px;
            width: 60%;
            gap: 10px;
            display: flex;
            justify-content: left;
            align-items: start;
            flex-direction: column;

            .ls-c-f-usuario {
                width: 100%;

                .ls-c-f-u-label {}

                .ls-c-f-u-input {
                    >input {
                        width: -webkit-fill-available;
                    }
                }
            }

            .ls-c-f-pass {
                width: 100%;

                .ls-c-f-p-label {}

                .ls-c-f-p-input {
                    >input {
                        width: -webkit-fill-available;
                    }
                }
            }

            .ls-c-f-botonLogin {
                margin-top: 10px;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

        .ls-c-loginRedes {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 25px;
            padding: 10px;

            .ls-c-lr-facebook {
                width: 25px;
                height: 25px;
                border: 1px solid black;
                cursor: pointer;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .ls-c-lr-gmail {
                width: 25px;
                height: 25px;
                border: 1px solid black;
                cursor: pointer;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        .ls-c-registrarse {
            margin: 10px;
            padding: 10px;
            width: 60%;
            text-align: center;
        }
    }
}